/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.content1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* align-items: center; */
}
.content2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content3 {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.banner {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 160px;
  position: absolute;
  top: 10px;
  z-index: 1;
  opacity: 0.65;
}
.banner p {
  font-size: 30px;
  margin-top: 60px;
  color: whitesmoke;
}
.content1 .ui.card {
  margin: 1em !important;
}

.content1 .ui.cards > .card {
  margin: 10px !important;
}

.content1 .ui.card,
.content1 .ui.cards > .card {
  max-width: 20% !important;
}

h1:first-child {
  text-align: center;
  margin-top: 20px !important;
}
h3:first-child {
  /* text-align: center; */
  margin-left: 40px;
  margin-top: 20px !important;
}

input[type="text"] {
  width: 70%;
  padding: 12px 20px;
  margin-right: 15px;
  box-sizing: border-box;
  border: 3px solid #ccc;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
  outline: none;
}

input[type="text"]:focus {
  border: 3px solid #555;
  border-radius: 4px;
}

::-webkit-input-placeholder {
  /* Edge */
  font-size: 14px;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 14px;
}

::placeholder {
  font-size: 20px;
}
